<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>



<body>
  <nav>
    <ul>
      <li> <a href="/"> home</a></li>
      <li><a href="/road"> bicis de ruta</a> </li>
      <li><a href="/mtb"> bicis mountainbike</a> </li>
      <li><a href="/bmx"> bicis bmx</a> </li>
      <li><a href="/urb"> bicis urbanas</a> </li>
      <li> <a href="/accesorios"> accesorios para bicicleta</a></li>
    </ul>
  </nav>










  {{{body}}}
</body>

</html>